body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#contryName {
    text-align: center;
    font-size: 50px;
}

#ItalyPar {
    text-align: center;
}

#ItalyPar>div>p {
    text-align: left;
}